.boolean {
  display: flex;
}

.input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.label {
  background-color: var(--primary-color, black);
  border: 2px solid var(--secondary-color, grey);
  color: var(--secondary-color, grey);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.label:hover,
.input:focus + label,
.input:active + label {
  background-color: var(--secondary-color, grey);
  border: 2px solid var(--primary-color, black);
  color: var(--primary-color, black);
  cursor: pointer;
  outline: none;
}

.label:first-of-type {
  border-right-width: 1px;
  border-radius: 0.5rem 0 0 0.5rem;
}

.label:last-of-type {
  border-left: none;
  border-radius: 0 0.5rem 0.5rem 0;
}

.input:checked + .label {
  background-color: var(--secondary-color, grey);
  border: 2px solid var(--primary-color, black);
  color: var(--primary-color, black);
}

.hasError .label {
  border-color: red;
}
