.fieldRow {
  width: 100%;
  margin-bottom: 2rem;
}

.fieldRow:last-child {
  margin-bottom: 0;
}

.question {
  margin-bottom: 0.5rem;
}

.required {
  padding-left: 0.1rem;
  color: red;
}

.error {
  margin-top: 0.5rem;
  color: red;
}
